*{
  font-family: monospace;
}

body{
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,0.9248949579831933) 17%, rgba(46,45,45,0.9389005602240896) 51%, rgba(0,0,0,0.8548669467787114) 77%);
}


:root{
    :root{
        --col1: rgb(12, 12, 12);
        --col2: rgb(70, 70, 70);
        --col3:  rgb(197, 195, 195);
     }
    
}


.bg-1{
    background-color: var(--col1) !important;
}

.bg-2{
    background-color: var(--col2) !important;
}

.bg-3{
    background-color: var(--col3) !important;
}











/* NAVBAR */
.tit{
    background: rgb(56,21,21);
background: linear-gradient(90deg, rgba(56,21,21,0.9248949579831933) 17%, rgba(75,26,26,0.9389005602240896) 51%, rgba(61,19,19,0.8548669467787114) 77%); -webkit-background-clip: text; color: transparent;
}


.navbar-blur{
    backdrop-filter: blur(9px) saturate(0.8);
}






/* MOSAICO */



.contenitore {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .galleria {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .galleria__elemento {
    flex: 1 0 calc(33.33% - 10px); /* Imposta la larghezza dei singoli elementi */
    margin: 0;
    overflow: hidden;
  }
  
  .galleria__elemento img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }






/* CARD */

.custom-card {
    border-radius: 10%;
    width: 20rem;
    height: 30rem;
    background-color: transparent;
    color: #fff;
    transition: transform 0.2s, box-shadow 0.2s;
}

.custom-card img {
    max-height: 300px;
    object-fit: cover;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.custom-card .card-body {
    padding: 1rem;
}

.custom-card h5.card-title {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

.custom-card p.card-text {
    font-size: 1rem;
    margin-bottom: 0;
}

.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(175, 170, 170, 0.4);
    background-color: rgb(6, 6, 6);
}
